.close-btn {
 width: 75px;
 height: 25px;
 cursor: pointer;
 display: flex;
 align-items: center;
 background: red;
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 background: #e62222;
 margin-left: auto;
}

.close-btn, .close-btn span {
 transition: 200ms;
}

.close-btn .text {
 transform: translateX(5px);
 color: white;
 font-weight: bold;
}

.close-btn .icon {
 position: absolute;
 border-left: 1px solid #c41b1b;
 transform: translateX(45px);
 height: 20px;
 width: 20px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.close-btn svg {
 width: 7px;
 fill: #eee;
}

.close-btn:hover {
 background: #ff3636;
}

.close-btn:hover .text {
 color: transparent;
}

.close-btn:hover .icon {
 width: 60px;
 border-left: none;
 transform: translateX(0);
}

.close-btn:focus {
 outline: none;
}

.close-btn:active .icon svg {
 transform: scale(0.8);
}