html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}
html, body {
	height: 100%;
	width:  100%;
	overflow: hidden;
}
body{
	margin: 0;
	padding: 0;
	position: absolute;
}

.container {
  position: absolute;
  width: 100%;
  overflow: auto;
}

.content {
  height: 100%;
  margin-top: 65px;
}

.password-list {
  margin-top: 5px;
  padding: 0 10px;
  padding-bottom: 10px;
}

.password-list {
  border: 1px solid rgb(178, 193, 191);
  box-shadow: 1px 1px 1px 1px rgba(205, 228, 224, 0.78);
  padding: 0.5em;
  padding-bottom: 10px;
}

.password-text {
  background-color: rgb(228, 248, 245);
  padding: 0.5em;
  min-width: 100%;
  max-height: 10em;
  overflow: scroll;
}

.password-text::-webkit-scrollbar {
  display: none;
}